body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}
h1{
    font-size: 50px;
}

.orange_colour{
    color: orange;
}
.flexible-section{
    display: flex;
    margin-bottom: 100px;
}
.half-width
{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.acnhor_decorator{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5%;
    background-image:linear-gradient(orange,red);
   font-weight: 700;
   color: aliceblue;

}
.top-banner
{
    background-image: url(images/18129294.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-banner
{
    width: 50%;
    padding-right: 2px;
}
.bottom-banner img{
    width: 50%;

}
.ancher_decorator2{
    text-decoration: none;
    color: aliceblue;
    background-color: orange;
    border-radius: 5%;
    padding: 10px 40px;
    background-image: linear-gradient(orange,red);
    font-weight: 700;

}
.dream-big
{
    background-image: url(images/pexels-scott-webb-1029624.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    /*background-position: right; */
   
}
.box-Shadow{
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    border-radius: 5%;
    width: 40%;
    box-shadow: 10px 10px 40px gray;

}
#full-stack-developer{
   border-left: 5px solid red;
   border-right: 5px solid blue;
}
#baby-developer
{
  border-right: 5px solid blue;
  border-left: 5px solid red;
}
footer p{
    text-align: center;
}